.alldata{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
}

.titles p{
    font-style:italic;
    font-size: medium;
}

.results{    
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
  "area2 area2 area2 area2"
  "area1 area3 area4 area5";
    grid-gap: 30px;   
    padding: 30px;     
}
.item1{
    grid-area: area1;    
}
.item2{
    grid-area: area2;
}
.item3{
    grid-area: area3;
}
.item4{
    grid-area: area4;
}
.item5{
    grid-area: area5;
}

.principal{
    display: flex;
    align-items: center;    
}

.principal img{
    width: 90px;
    height: 90px;     
    margin-bottom: 10px; 
}

.boxresults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;    
    font-size: 14px;    
    font-weight: 500;    
    padding: 5px;    
}

.boxresults section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.boxresults img{
    width: 64px;
    height: 64px;     
    margin-bottom: 10px; 
}

.datanumber{
    font-size: 30px;
    font-weight: 800;
}

.datalabel{
    font-style:italic;
    font-size: medium;
}

@media (max-width: 1100px) {
    .results{            
        grid-template-columns: 180px 180px 180px 180px;   
        grid-gap: 15px;   
    padding: 30px;            
    }

    .datanumber{
        font-size: 25px;
        font-weight: 800;
    }
}

@media (max-width: 780px) {

    .alldata{
        padding: 10px;
    }   

    .results{    
        display: grid;
        grid-template-columns: 180px 180px;
    grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
  "area2 area2"
  "area1 area3"
  "area4 area5";        
        grid-gap: 10px;
    }
}

@media (max-width: 520px) {

    

    .titles h1{
        width: min-content;
    }

    .alldata{
        padding: 10px;
    }   

    .results{    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-template-areas: none;
        gap: 10px;
    }

    .item1{
        grid-area: auto;    
    }
    .item2{
        grid-area: auto;
    }
    .item3{
        grid-area: auto;
    }
    .item4{
        grid-area: auto;
    }
    .item5{
        grid-area: auto;
    }
  }
